@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese);

:root {
	--grid-border: 1px solid black;
}

body {
	font-family: Roboto, sans-serif;
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0px;
}

.title {
	flex: 1;
	display: flex;
	background-color: gray;
	align-items: center;
	justify-content: center;
	padding-bottom: 50px;
}

.options-sketch-container {
	flex: 10;
	background-color: lightgray;
	width: 100vw;
	text-align: center;
	display: flex;
}

.options {
	background-color: lightyellow;
	flex: 1;
	height: 100%;
}

.interaction-panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	padding-top: 10px;
}

footer {
	text-align: center;
	padding: 20px 0px;
}

.sketchpad {
	display: flex;
	box-sizing: border-box;
	background-color: rgb(255, 255, 105);
	flex: 3;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.drawing-box {
	display: grid;
	width: 650px;
	height: 650px;
	outline: var(--grid-border);
	background-color: white;
}

.cell {
	outline: 1px solid black;
	background-color: white;
}

.cell:hover {
	background-color: lightgray;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}


/* 
TODO: Stylise buttons with icons (legal assets)
TODO: Stylize slider to something modern
TODO: Japanese cherry blossom 8bit theme. The goal is to make something that stands out instead of 'just doing the job'. The theme should be something that you like if you're not going for cherry blossom theme. Gots to figure out how to make background not look pixelated when on large screens.
TODO: Top navbar with links to all other Tamzid Zakaria github projects (projects that you are proud of)
TODO: Website icon
TODO: Either random name generator or a better name
TODO: Dabble in animations
TODO: Dark mode toggle 
TODO: Sketchpad should be center of page not center of sketchpad class
*/
