@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese);

body {
	font-family: Roboto, sans-serif;
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0px;
}

.title {
	flex: 1;
	display: flex;
	background-color: gray;
	align-items: center;
	justify-content: center;
	padding-bottom: 50px;
}

.options-sketch-container {
	flex: 10;
	background-color: lightgray;
	width: 100vw;
	text-align: center;
	display: flex;
}

.options {
	background-color: lightyellow;
	flex: 1;
	height: 100%;
}

.sketchpad {
	/* background-color: rgb(255, 255, 105); */
	flex: 3;
	height: 100%;
}

.interaction-panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	padding-top: 10px;
}

.sketchpad {
	display: flex;
	padding-top: 100px;
	padding-left: 100px;
	box-sizing: border-box;
}
.drawing-box {
	display: flex;
	flex-wrap: wrap;
	height: 650px;
	width: 650px;
	border: 1px solid black;
	border-right: none;
	border-top: none;
	box-shadow: 0 0 5px #000;
}

footer {
	text-align: center;
	padding: 20px 0px;
}

.square {
	aspect-ratio: 1/1;
	box-sizing: border-box;
	border-top: 1px solid black;
	border-right: 1px solid black;
}
